#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=dj-mixxx-jack-setup
Name=DJ Jack Control - Mixxx
Exec=mixxx-jack-setup

